.c-box {
	padding: 20px;
	border: 1px solid #ccc;
	background: #fff;

	table {
		width: 100%;
	}

	table, th, td {
		border: 1px solid #ccc;
		border-collapse: collapse;
		padding: 8px;
		text-align: center;
	}

	th {
		background: #eee;
	}

	tbody tr:hover {
		background: #efefef;
	}

	code {
		border: 1px colid #222;
		background: #111;
		color: #fff;
		
	}

	blockquote {
		background: #efefef;
		padding: 4px;
		border-left: 4px solid #ccc;
	}
}