@media screen and (min-width: 0px) {
  @import url('https://fonts.googleapis.com/css?family=Roboto');
  * {
    box-sizing: border-box; }

  * {
    font-family: 'Roboto', sans-serif; }

  body {
    margin: 0;
    padding: 0;
    background: #efefef; }

  a {
    text-decoration: none;
    font-wight: bold;
    color: #06c; }

  a:hover, a:active, a:focus {
    color: #1a8cff; }

  .u-bg__white {
    background: #fff; }

  .u-bg__grey {
    background: #efefef; }

  .u-text-align-center {
    text-align: center; }

  .c-section {
    padding: 10px; }

  .c-section div {
    max-width: 100%;
    width: 900px;
    margin: auto; }

  .c-row {
    padding: 4px; }

  .c-row:nth-child(odd) {
    background: #efefef; }

  .c-row:hover {
    background: #ccc; }

  .c-row a {
    display: block;
    text-decoration: none; }

  .c-button {
    display: inline-block;
    padding: 10px;
    margin: auto 4px 4px auto;
    background: #ccc;
    text-decoration: none;
    color: #fff;
    font-weight: bold; }

  .c-box {
    padding: 20px;
    border: 1px solid #ccc;
    background: #fff; }
    .c-box table {
      width: 100%; }
    .c-box table, .c-box th, .c-box td {
      border: 1px solid #ccc;
      border-collapse: collapse;
      padding: 8px;
      text-align: center; }
    .c-box th {
      background: #eee; }
    .c-box tbody tr:hover {
      background: #efefef; }
    .c-box code {
      border: 1px colid #222;
      background: #111;
      color: #fff; }
    .c-box blockquote {
      background: #efefef;
      padding: 4px;
      border-left: 4px solid #ccc; }

  .c-navigation {
    border-bottom: 1px solid #c3c3c3;
    margin: 0;
    top: 0; }

  form {
    margin: 0px;
    padding: 0px; }

  form input[name="search"] {
    width: 90%; }

  form input[type="submit"] {
    width: 10%; }

  form input {
    padding: 10px; } }
